[submodule "MX_Alps_Hybrid"]
	path = MX_Alps_Hybrid
	url = git@github.com:ai03-2725/MX_Alps_Hybrid.git
[submodule "random-keyboard-parts.pretty"]
	path = random-keyboard-parts.pretty
	url = git@github.com:ai03-2725/random-keyboard-parts.pretty.git
